<ion-view title="Buscar Usuário" id="page2">
    <ion-content padding="true" class="has-header">
        <div id="buscarUsuRio-markdown4" style="color:#000000;">
            <p>Digite o nome do usuário para realizar a busca.</p>
        </div>
        <form id="buscarUsuRio-form12" class="list ">
            <label class="item item-input " id="buscarUsuRio-input11">
                <input type="text" placeholder="Jeremias">
            </label>
        </form>
        <a ui-sref="menu.perfilUsuRio" id="buscarUsuRio-button27" class=" button button-stable  button-block icon ion-android-search ">Buscar!</a>
    </ion-content>
</ion-view>