<body ng-app="app.controllers">
<ion-view title="Buscar Usuário" id="page2">
    <ion-content padding="true" class="has-header" ng-controller="buscarUsuRioCtrl">
        <div id="buscarUsuRio-markdown4" style="color:#000000;">
            <p>Digite o nome do usuário para realizar a busca.</p>
        </div>
        <form id="home-form2" class="list" ng-submit="search()">
           <div>
	           <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Jogos" ng-model="search.value">
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
</body>