<body ng-app="app.controllers">
<ion-view title="Cadastrar Jogo" id="page18">
    <ion-content padding="true" class="has-header" ng-controller="cadastrarJogoCtrl">
        <div>
        	<button type="button" ng-click="cadastrar(jogoMock)" class=" button button-stable  icon ion-android-done "></button>
        </div>
        <div style="margin: 0px; text-align: center; background-color: rgb(232, 235, 239);">
            <img src="../img/defaultImage.jpg" style="max-width:100%; max-height:100%;">
        </div>
        <div>
            <label class="item item-input ">
                <input type="text" ng-model="jogoMock.titulo" placeholder="tÌtulo">
            </label>
            <label class="item item-input ">
                <input type="text" ng-model="jogoMock.descricao"  placeholder="descriÁ„o">
            </label>
            <label class="item item-input ">
                <input type="text" ng-model="jogoMock.dataLancamento" placeholder="Data de LanÁamento">
            </label>
            <label class="item item-input ">
                <input type="text" ng-model="jogoMock.plataformas" placeholder="Plataformas">
            </label>
            <label class="item item-input ">
                <input type="text" ng-model="jogoMock.desenvolvedores" placeholder="Desenvolvedores">
            </label>
            
            <h3 style="color:#000000;">Rating</h3>
            <ion-item class="range range-positive ">Jogabilidade {{jogoMock.ratingJogabilidade}}
                <input type="range" ng-model="jogoMock.ratingJogabilidade" value="{{jogoMock.ratingJogabilidade}}" min="0" max="10">
            </ion-item>
            <ion-item class="range range-positive ">Divers√£o {{jogoMock.ratingDiversao}}
                <input type="range" ng-model="jogoMock.ratingDiversao" value="{{jogoMock.ratingDiversao}}" min="0" max="10">
            </ion-item>
            <ion-item class="range range-positive ">Audio {{jogoMock.ratingAudio}}
                <input type="range" ng-model="jogoMock.ratingAudio" value="{{jogoMock.ratingAudio}}" min="0" max="10">
            </ion-item>
            <ion-item class="range range-positive ">Imers√£o {{jogoMock.ratingImersao}}
                <input type="range" ng-model="jogoMock.ratingImersao" value="{{jogoMock.ratingImersao}}" min="0" max="10">
            </ion-item>
        </div>
    </ion-content>
</ion-view>
</body>