<ion-view title="Calculo de Rate" id="page25">
    <ion-content padding="true" class="has-header">
        <button id="calculoDeRate-button53" class=" button button-stable  icon ion-android-arrow-back "></button>
        <button id="calculoDeRate-button54" class=" button button-stable  icon ion-android-done "></button>
        <h3 id="calculoDeRate-heading5" style="color:#000000;">Calculo de Rate</h3>
        <div id="calculoDeRate-markdown9" style="color:#000000;">
            <p>Defina os pesos para o calculo de rate médio para cada caracteristica abaixo.</p>
        </div>
        <form id="calculoDeRate-form18" class="list ">
            <ion-item class="range range-positive " id="calculoDeRate-range6">Gráfico
                <input type="range" value="1" min="0" max="2">
            </ion-item>
            <ion-item class="range range-positive " id="calculoDeRate-range7">Jogabilidade
                <input type="range" value="2" min="0" max="2">
            </ion-item>
            <ion-item class="range range-positive " id="calculoDeRate-range8">Diversão
                <input type="range" value="1" min="0" max="2">
            </ion-item>
            <ion-item class="range range-positive " id="calculoDeRate-range9">Audio
                <input type="range" value="0" min="0" max="2">
            </ion-item>
            <ion-item class="range range-positive " id="calculoDeRate-range10">Imersão
                <input type="range" value="1" min="0" max="2">
            </ion-item>
        </form>
    </ion-content>
</ion-view>