<body ng-app="app.comentariosOcultosController">
<ion-view title="Comentários Ocultos">
    <ion-content padding="true" class="has-header" ng-controller="comentRiosOcultosCtrl" ng-init="carregarComentarios()">
        <div>
    	    <button ng-click="removerOcultacaoPopup(comentarios)" type="button"  class=" button button-stable  icon ion-eye"></button>
        </div>
        <ion-checkbox ng-repeat="comentario in comentarios"
                      ng-model="comentario.checked" 
                      ng-checked="comentario.checked">
          	{{ comentario.body }}
        </ion-checkbox>
    </ion-content>
</ion-view>
</body>