<body ng-app="app.comentariosOcultosTController">
<ion-view title="Comentários Ocultos" id="page21">
    <ion-content padding="true" class="has-header">
        <div>
    	    <button ng-click="removerOcultacaoPopup(comentariosMock)" type="button"  id="comentRiosOcultos-button48" class=" button button-stable  icon ion-eye "></button>
        </div>
        <ion-checkbox ng-repeat="comentario in comentariosMock"
                      ng-model="comentario.checked" 
                      ng-checked="comentario.checked">
          	{{ comentario.corpo }}
        </ion-checkbox>
    </ion-content>
</ion-view>
</body>