<body ng-app="app.controllers">
<ion-view title="Comentário">
    <ion-content padding="true" class="has-header" ng-controller="comentarioCtrl" ng-init="carregarComentario()">
        <div> 
			<button type="button" ng-click="ocultarPopup()" class=" button button-stable  icon" ng-class="commentDisable"></button>
        </div>
        <ion-item class="item-thumbnail-left" >
	       	<img src="../img/defaultImage.jpg" ui-sref="menu.perfilUsuRio({id:comentario.userId})">
	        <label ui-sref="menu.perfilUsuRio({id:comentario.userId})">
	        	<h2>{{comentario.body}}</h2>
	    	</label>
	    </ion-item>
    </ion-content>
</ion-view>
</body>