<ion-view title="Comentários ocultos" id="page20">
    <ion-content padding="true" class="has-header">
        <ion-list id="comentRiosOcultos2-list8">
            <ion-item id="comentRiosOcultos2-list-item27" ui-sref="menu.comentRiosOcultos">Como destravar armas de sindicato</ion-item>
            <ion-item id="comentRiosOcultos2-list-item28">Pilotando Helicópteros</ion-item>
            <ion-item id="comentRiosOcultos2-list-item29">Sabotando Veiculos</ion-item>
            <ion-item id="comentRiosOcultos2-list-item30">Jogando o modo Dinheiro Sujo</ion-item>
        </ion-list>
    </ion-content>
</ion-view>