<ion-view title="Meus Comentários" id="page12">
    <ion-content padding="true" class="has-header">
        <ion-list id="meusComentRios2-list4">
            <ion-item id="meusComentRios2-list-item20" ui-sref="menu.meusComentRios">Como destravar armas de sindicato</ion-item>
            <ion-item id="meusComentRios2-list-item21">Pilotando Helicópteros</ion-item>
            <ion-item id="meusComentRios2-list-item22">Sabotando Veiculos</ion-item>
            <ion-item id="meusComentRios2-list-item23">Jogando o modo Dinheiro Sujo</ion-item>
        </ion-list>
    </ion-content>
</ion-view>