<ion-view title="Meus Comentários" id="page13">
    <ion-content padding="true" class="has-header">
        <button id="meusComentRios-button30" class=" button button-stable  icon ion-eye "></button>
        <button id="meusComentRios-button31" class=" button button-stable  icon ion-android-delete "></button>
        <ion-list id="meusComentRios-list5">
            <ion-item class="item-icon-right  " id="meusComentRios-list-item24" ui-sref="menu.editarComentRio">Descobri como fazer isso
                <i class="icon ion-android-checkbox-outline-blank"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="meusComentRios-list-item26">Não descobri
                <i class="icon ion-android-checkbox-outline-blank"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>