<body ng-app="app.pefilUsuarioController">
<ion-view title="Perfil Usuário">
    <ion-content padding="true" class="has-header" ng-controller="perfilUsuRioCtrl" ng-init="carregarPerfilUsuario()">
	    <div>
	        <button type="button" ng-click="transformarModeradorPopup()" class=" button button-stable  icon ion-android-star "></button>
	        <button type="button" ng-click="alterarSenhaPopup()" class=" button button-stable  icon ion-ios-settings "></button>
	        <button type="button" ng-click="desabilitarPopup()" class=" button button-stable  icon ion-android-close "></button>
	        <button type="button" ng-click="bloquearPopup()" class=" button button-stable  icon ion-android-lock "></button>
	    </div>
        <div style="margin: 0px; text-align: center; background-color: rgb(232, 235, 239);">
            <img src="../img/defaultImage.jpg" style="max-width:100%; max-height:100%;">
        </div>
        <div>
        	<h2 style="color:#000000;">{{perfil.login}}</h2>
            <p>
            	<strong>Tópicos: </strong>{{perfil.topics}}
            </p>
            <p>
            	<strong>Comentários: </strong>{{perfil.comments}}</p>
        </div>
        <button type="button" ng-click="dislike()" ng-disabled="thumbsdownDisable" class=" button button-light  icon-right ion-thumbsdown">{{perfil.dislikes}}</button>
        <button type="button" ng-click="like()" ng-disabled="thumbsupDisable" class=" button button-light  icon-right ion-thumbsup">{{perfil.likes}}</button>
    </ion-content>
</ion-view>
</body>