<ion-view title="Relatórios" id="page24">
    <ion-content padding="true" class="has-header">
        <ion-list id="relatRios-list12">
            <ion-item id="relatRios-list-item37">Quantidade de tópicos por jogo</ion-item>
            <ion-item id="relatRios-list-item38">Quantidade de comentários...</ion-item>
            <ion-item id="relatRios-list-item39">Numero de acessos por tópico</ion-item>
            <ion-item id="relatRios-list-item40">Data de visualização de jogos</ion-item>
            <ion-item id="relatRios-list-item41">Data de visualização de tópicos</ion-item>
        </ion-list>
    </ion-content>
</ion-view>