<body ng-app="app.relatoriosController">
	<ion-view title="Relatório"> 
	<ion-content padding="true" class="has-header" ng-controller="relatorioTopicosJogoCtrl" ng-init="gerarRelatorio1()">
		<h3 style="color: #000000; text-align: center;">
			Quantidade de Tópicos por Jogo 
		</h3>
		<div class="row header" style="background-color:lightgrey; text-align: center;" >
	    	<div class="col">Jogo</div>
	        <div class="col">Número de Acessos</div>
		</div>
		<div class="row" ng-repeat="game in gamelist">
	    	<div class="col">{{game.gameName}}</div>
	        <div class="col" style="text-align: center;">{{game.visitedTimes}}</div>
		</div>
	
	</ion-content> 
	</ion-view>
</body>