<body ng-app="app.controllers">
<ion-view title="Tempo de Fechamento">
    <ion-content padding="true" class="has-header" ng-controller="tempoDeFechamentoCtrl" ng-init="carregarTempo()">
        <div class="rightBt">
        	<button type="buton" ng-click="salvarPopup(tempo)" id="tempoDeFechamento-button51" class=" button button-stable  icon ion-android-done "></button>
        </div>
        <h3 class="textCenter">Tempo Mínimo</h3>
       	<label class="item item-input">
       		<input type="number" ng-model="tempo.dias" pattern="[0-9]" value={{tempo.dias}}>
        </label>
    </ion-content>
</ion-view>
</body>