<body ng-app="app.tPicosOcultosCtrl">
<ion-view title="Tópicos Ocultos">
    <ion-content padding="true" class="has-header" ng-controller="tPicosOcultosCtrl" ng-init="carregarTopicosOcultos()">
        <div class="rightBt">
	        <button ng-click="removerOcultacaoPopup(topicos)" type="button"  class=" button button-stable  icon ion-eye "></button>
        </div>
        <div class="spacer" style="height: 5px;"></div>
        <div ng-hide="showTopicos">
        	<p>Não há tópicos ocultos no momento</p>
        </div>
        <ion-checkbox ng-repeat="topico in topicos" ng-model="topico.checked" ng-checked="topico.checked" ng-show="showTopicos">
	         	{{ topico.title }}
        </ion-checkbox>
    </ion-content>
</ion-view>
</body>