<ion-view title="Tópicos Ocultos" id="page19">
    <ion-content padding="true" class="has-header">
        <button id="tPicosOcultos-button46" class=" button button-stable  icon ion-eye "></button>
        <button id="tPicosOcultos-button47" class=" button button-stable  icon ion-android-delete "></button>
        <ion-list id="tPicosOcultos-list7">
            <ion-item class="item-icon-right  " id="tPicosOcultos-list-item17" ui-sref="menu.editarTPico">Como destravar armas de sin...
                <i class="icon ion-android-checkbox-outline-blank"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tPicosOcultos-list-item18">Pilotando Helicópteros
                <i class="icon ion-android-checkbox-outline-blank"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tPicosOcultos-list-item19">Sabotando Veiculos
                <i class="icon ion-android-checkbox-outline-blank"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tPicosOcultos-list-item25">Jogando o modo Dinheiro Sujo
                <i class="icon ion-android-checkbox-outline-blank"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>