<body ng-app="app.topicoController">
<ion-view title="Tópico">
    <ion-content padding="true" class="has-header" ng-controller="tPicoCtrl" ng-init="carregarTopico()">
        <div>
        	<button ng-click="adicionarImagem(comentario)" type="button" class=" button button-stable  icon ion-android-attach "></button>
	        <button ng-click="addLinkPopup(comentario)" type="button" class=" button button-stable  icon ion-link "></button>
	        <button type="button" ng-click="ocultarPopup()" class=" button button-stable  icon" ng-class="topicDisable"></button>
        </div>
        
        <h1 style="color:#000000;">{{topico.title}}</h1>
        <div style="color:#000000;">
            <p>{{topico.body}}</p>
        </div>
        <div class="spacer" style="height: 50px;"></div>
        <div style="color: #000000;" ng-hide="showComments">
			<p>Ainda não há comentários para este Tópico.</p>
			<p>Crie um, Comente e divida experiências.</p>
		</div>
        <div ng-show="showComments" ng-repeat="comentario in comentarios">
	        	<ion-item class="item-thumbnail-left" >
	        	    <img src="../img/defaultImage.jpg" ui-sref="menu.perfilUsuRio({id:comentario.userId})">
	                <label ui-sref="menu.comentario({id:comentario.id})">
	                	<h2>{{comentario.user}}</h2>
	                	<p>{{comentario.body}}</p>
	                </label>
	            </ion-item>
        </div>
        
        <div>
        	<label class="item item-input">
        	   <input ng-model="comentario.body" type="text" placeholder="Escreva seu comentario">
    	    </label>
	        <button ng-click="gravarComentario(comentario)" type="button" class=" button button-stable  button-block ">Enviar</button>
        </div>
    </ion-content>
</ion-view>
</body>